* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 400px;
  height: 400px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h1 {
  color: white;
  padding-bottom: 50px;
}

.box span {
  margin: 5px;
  padding: 5px;
  color: white;
}

.btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  text-align: center;
}

.btn:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  position: absolute;
  right: -10px;
  transform: rotateZ(45deg);
}

.btn:hover::before {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  position: absolute;
  left: -10px;
  transform: rotateZ(-45deg);
}
