* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 600px;
  height: 600px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box h1 {
  color: white;
  padding-bottom: 50px;
}

.box span {
  color: white;
  text-align: start;
}

.btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  margin: 5px;
  padding: 5px;
  color: white;
}

.btn:hover::after {
  content: "";
  width: 5px;
  height: 5px;
  border-left: 3px solid white;
  border-bottom: 3px solid white;
  position: absolute;
  right: -20px;
  transform: rotateZ(45deg);
}

.btn:hover::before {
  content: "";
  width: 5px;
  height: 5px;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  position: absolute;
  left: -20px;
  transform: rotateZ(-45deg);
}

canvas {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal {
  width: 300px;
  height: 300px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal h1 {
  padding-bottom: 20px;
}

.modal span {
  margin: 5px 0px;
  padding: 5px 0px;
}

input {
  width : 100px;
}